* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans", cursive;

}

.main-title {
    padding-left: 10px;
    margin-top: 0.5rem;
    font-style: italic;
}

.nav .link-list {
    list-style: none;
    position: absolute;
    right: 10px;
}

.nav .link {
    display: inline-block;
}

.nav .link a {
    text-decoration: none;
    background-color: rgb(79, 79, 133);
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid black;
}

nav .link a:hover {
    background-color: #309236e0;
}

.header .img {
    background-image: url("../images/design1_image1.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 1rem 0;
}

.article {
    position: relative;
}

.article-title{
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url("../images/Logo_Mighty_ducks-01.png");
    background-size: cover;
    background-position: center;
}

.article-list {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 210px;
    width: 70%;
}

.article-list li {
    margin-bottom: 1.7rem;
}

.article-list p {
    padding-top: .15rem;
    text-indent: 5%;
}

.article-list .index-li h3 {
    font-style: italic;
}

.contact-list p{
    margin-bottom: .5rem;
}


