body {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans", cursive;
}

/*HEADER*/

.header {
    margin-bottom: .4rem;
}

.main-title {
    padding-left: 10px;
    margin-top: 0.5rem;
    font-style: italic;
}

.nav .link-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: .5rem;
}

.nav .link {
    padding: 0.2rem 1rem;
    border: 1px solid black;
    background-color: rgb(79, 79, 133);
    margin: 0 .5rem;
    box-shadow: 5px 5px 5px rgb(129, 128, 128);
    border-radius: 5px;
}

.nav .link a {
    text-decoration: none;
    color: white;

}

nav .link:hover {
    background-color: #309236e0;
}

.header .img {
    background-image: url("../images/design1_image1.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: -.5rem;
}

/*ARTICLE*/

.content {
    padding-left: 2.5rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
}

.article .container {
    display: flex;
}

.article-title {
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.article .logo {
    width: 15%;
    min-width: 130px;
    flex-shrink: 0;
}

.article .logo img {
    max-width: 100%;
    margin-top: -10px;
}

.article-list {
    list-style: none;
}

.article-list li {
    margin-bottom: 1.7rem;
}

.article-list p {
    padding-top: .15rem;
}

.article-list .p-about {
    text-indent: 3rem;
}

.article-list .index-li h3 {
    font-style: italic;
}


/*CONTACT*/

.contact-list p {
    margin-bottom: .5rem;
}

/*RULEs*/

.content-rules h3 {
    margin: 1rem 0;
}

.content-rules .rules-title,
.content-rules .subtitle {
    text-align: center;
    margin: 0;
}

.content-rules .subtitle {
    font-weight: normal;
    margin-bottom: 2rem;
}

.content-rules p {
    text-indent: 1.5rem;
}

.content-rules ol {
    list-style: decimal inside;
}

.content-rules ol>li {
    margin: 1rem 0;
}

.content-rules ol {
    font-weight: bold;
}

.content-rules ol>li>span {
    font-weight: normal;
}

.content-rules .rules-ol-nested {
    list-style: lower-latin inside;
    margin-left: 3rem;
    font-weight: normal;
}

.content-rules .rules-ol-nested li {
    margin: 0;
}

.content-rules ul {
    list-style: circle inside;
    margin-left: 2rem;
}

/*GAME INFO*/

.content.table {
    width: 100%;
    padding: 0;
}

.content.game-info h3,
.content.game-info h4 {
    margin: 1rem 0;
}

.content.game-info h4 {
    text-decoration: underline;
    font-style: italic;
    font-weight: normal;
}

table {
    margin: 3rem auto;
}

th,
td {
    padding: .3rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.game-info .center {
    text-align: center;
}

.game-info span {
    font-weight: bold;
}

.game-info p {
    margin: 1rem 0;
}

.game-info .director {
    margin-top: 2rem;
}

.game-info-contact {
    display: flex;
}

.content.game-info .game-info-contact p {
    margin: 0;
}

.content.game-info .game-info-contact p:last-child {
    margin-left: auto;
}

.maps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.maps-title {
    margin-top: 5rem;
    font-size: 1.8rem;
    text-align: center;
}

.maps h2 {
    margin-bottom: .5rem;
}

.maps div {
    margin: 1rem;
}

/*FORM*/
form {
    width: 95%;

}

fieldset {
    border: none;
    width: 100%;
    margin-bottom: 2rem;
    max-width: 800px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.first-fieldset div{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    flex-wrap: wrap;
}

label {
    display: inline-block;
    /* margin: 0rem .5rem;; */
}

.first-fieldset div:last-child {
    max-width: 70%;
}

.second-fieldset div{
    margin: 1rem 0;
}
.second-fieldset h3,
.second-fieldset h4 {
    margin-bottom: .5rem; 
}

.second-fieldset .uniform,
.second-fieldset .position{
    display: flex;
    margin: 0;
}
.uniform div,
.position div {
    margin: 0;
    margin-right: 4rem;
}
.second-fieldset .position{
    margin-bottom: 1.5rem;
}
.uniform label,
.position label{
    display: block;
}

fieldset p {
    margin: .5rem 0 2rem 0;
}

.signature label {
    display: block;
    margin: .5rem 0;

}

input[type="submit"] {
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: white;
    /* border-color: #2d4b4a; */
    /* border: 1px solid  #2d4b4a, */
    /* color: white; */
}

input[type="submit"]:hover {
    cursor: pointer;
}